---
---
$main-colour: #212121;
$secondary-colour: #F11919;
$light-colour: rgba(243, 251, 241, 0.62);

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

ul {
    padding-left:20px;
}

hr {
    border-bottom: 1px solid #eee;
    margin:auto;
    margin-top:60px;
    margin-bottom:20px;
}

p {
    font-family: 'Lora', serif;
}

.posts .post {
    text-align:justify;
}

.posts .post-title {
    margin-top:60px;
}

.post .post-title {
    margin-bottom:0;
    margin-top:60px;
}

.post-meta {
    margin-top:0;   
    color: #B9B9B9;
    font-size:17px;
}

#disqus_thread {
    margin-top: 20px;
}

.gradient {
    background-image: url(/assets/italian-fields.jpg);
    background-size: cover;
    background-color: rgba(165, 114, 94, 0.4);
    background-blend-mode: multiply;
}

/* ==========================================================================
   Header
   ========================================================================== */

.header {
    padding-top: 72px;
}

.title {
    color: white;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: -1px;
    margin: 0 20px 20px;
}

.subtitle {
    color: #ffffff;
    font-size: 27px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 20px 20px;
}

.subtitle + .subtitle {
    color: #ffffff;
}

.nav {
    margin: 72px 0 0;
    padding: 15px 0 15px;
    font-size: 27px;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: #fff;
    border: 0;
    padding: 0 30px;
    font-weight: bold;
}

.post-date {
    display:block;
    color: #9a9a9a;
}

figure {
    margin:0;
}

/* ==========================================================================
   Main
   ========================================================================== */

.wrap {
    margin: 0 auto 90px;
    max-width: 700px;
    padding: 0 20px;
    word-wrap: break-word;
}

p {
    color: #333;
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: $secondary-colour;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    opacity: .7;
}

h1 {
    color: $main-colour;
}

h2 {
    margin-top: 40px;
    color: $main-colour;
}

h3 {
    color: #333;
    margin: 40px 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

h5 {
    font-size: 18px;
}

.clippy {
    margin-top: -3px;
    position: relative;
    top: 3px;
}

.btn[disabled] .clippy {
    opacity: .3;
}

/* Code
   ========================================================================== */

pre code {
    font-size: 14px;
    line-height: 20px;
}

code {
    background-color: #FFF1F1;
    border-radius: 3px;
    color: #F11919;
    font-size: 85%;
    margin: 0;
    padding: 0.2em;
}

.hljs-keyword {
    color: #008080;
    font-weight: normal;
}

/* Example
   ========================================================================== */

.flash {
    margin-bottom: 15px;
}

.example {
    position: relative;
    margin: 15px 0 0;
    padding: 39px 19px 14px;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    border: 1px solid #ddd;
}

.example p {
    color: #666;
}

.example:after {
    content: "Example";
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    color: #9da0a4;
    border-radius: 4px 0 4px 0;
}

.example + pre {
    background: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #ddd;
    clear: both;
    margin-top: -20px;
    padding: 20px 0 0;
}

/* Live example
   ========================================================================== */

.form-actions {
    margin-top: 15px;
}

.form-actions .btn {
    float: left;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/* Support
   ========================================================================== */

.support {
    list-style: none;
}

.support li {
    display: inline-block;
    text-align: center;
    margin: 5px 8px 0;
}

.support p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
    padding: 36px 0;
    padding-top:16px;
}

.footer iframe {
    margin-right:15px;
}

.credits {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.credits-link {
    color: white;
    border-color: white;
}

.credits-link:hover,
.credits-link:focus {
    text-decoration: none;
    border-color: white;
}

.love {
    display: inline-block;
    position: relative;
    top: .2em;
    font-size: 1.4em;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse;
}

@-webkit-keyframes love {
    to {-webkit-transform: scale(1.2);}
}

@-moz-keyframes love {
    to {-moz-transform: scale(1.2);}
}
@keyframes love {
    to {transform: scale(1.2);}
}

/* ==========================================================================
   Responsive
   ========================================================================== */

@media screen and (max-width: 640px) {
    .title {
        font-size: 48px;
    }

    .subtitle {
        font-size: 22px;
    }

    .credits {
        font-size: 22px;
    }

    .nav {
        font-size:22px;
    }

    .posts .post {
        text-align: left;
    }
    .posts .post-title, .post .post-title {
        margin-top: 40px;
    }

}