---
title: 'Home'
description: 'I’m a web developer based in the UK, currently contracting for a finance company. I think of ideas and execute them. I continually look to learn and I try not to impose limits on myself.'
layout: default
---

<div class="posts home markdown-body">
    <div class="post--small">
    {% for page in site.posts %}
        {% if page.is_popular == true %}

            <p class="love" aria-hidden="true">Popular</p>
            <h2 class="post__title">
                <a href="{{ page.url }}">
                    {{ page.title }}
                </a>
            </h2>

            {% include postmeta.html %}
            <div class="entry"><p>{{ page.content | truncatewords:47 | strip_html }}</p></div>

        {% endif %}
    {% endfor %}
    </div>
    {% for page in site.posts limit:5  %}
        {% unless page.is_popular %}
        <div class="post--small">
            <h2 class="post__title">
                <a href="{{ page.url }}">
                    {{ page.title }}
                </a>
            </h2>

            {% include postmeta.html %}
            <div class="entry"><p>{{ page.content | truncatewords:47 | strip_html }}</p></div>
        </div>

        {% endunless %}
    {% endfor %}

    <p class="rss-subscribe">
        <a href="/archive">View more</a>
        <br/>
        subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
    </p>
</div>
