@import 'variables';

.header {
  display: flex;
  margin-top: 20px;
  max-width: $screen-sm;

  &__text {
    float: left;
    margin-top: 0;
  }

  &__description {
    font-size: 17px;
    letter-spacing: .06em;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__title {
    color: $light-black;
    font-size: 26px;
    letter-spacing: .04em;
    margin: 0;
    margin-bottom: .1em;
    overflow: hidden;
    text-decoration: none;
  }

  &__link {
    color: $light-black;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: .04em;
    overflow: hidden;
    text-decoration: none;
  }
}

@media (min-width: $screen-sm) {
  .header {
    display: block;
    margin-top: 60px;

    &__text {
      margin-top: 20px;
    }
  }
}
