@import "mixins";
@import "variables";

.header {
  display: flex;
  margin-top: 20px;
  max-width: $screen-sm;

  &__text {
    float: left;
    margin-top: 0;
  }

  &__description {
    font-size: 17px;
    letter-spacing: 0.06em;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__title {
    color: $light-black;
    font-size: 26px;
    letter-spacing: 0.04em;
    margin: 0;
    margin-bottom: 0.1em;
    overflow: hidden;
    text-decoration: none;
  }

  &__link {
    color: $light-black;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.04em;
    overflow: hidden;
    text-decoration: none;
  }

  @include screen-sm {
    display: flex;
    margin-top: 60px;

    &__text {
      margin-top: 20px;
    }
  }
}
