@import "mixins";

.container {
  padding: 0 30px;

  @include screen-sm {
    margin: 20px auto;
  }
}

#content {
  padding-bottom: 60px;

  @include screen-sm {
    text-align: center;
    margin-top: 0;
  }
}
