@import 'mixins';
@import 'variables';

.container {
  padding: 0px 15px;

  @include screen-sm {
    width: 830px;
    margin: 20px auto;
  }
}

#content {
  padding-bottom: 60px;
  margin-top: 10px;

  @include screen-sm {
    float: right;
    width: 650px;
    margin-top: 0;
  }
}
