@import 'mixins';
@import 'variables';

.logo {
  float: left;
  margin-right: 20px;

  &__img {
    height: 48px;
    width: 48px;

    @include screen-sm {
      height: 100%;
      width: 100%;
    }
  }

  @include screen-sm {
    margin-right: 65px;
  }
}
