@import 'variables';

.love {
  background: url('/assets/img/note.png') no-repeat 0 3px;
  color: $light-grey;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 4px;
  padding-left: 22px;
}
