@import "variables";

.post {
  padding-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  margin: 0 2%;
  border: 0;

  &__title {
    margin-top: 15px !important;
  }

  &--small {
    padding-top: 20px;
    border-radius: 14px;
    margin-bottom: 20px;
  }

  &__title {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.markdown-body h1 {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.posts h2 {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

@media (min-width: $screen-sm) {
  .post {
    margin: 0;
  }
}
