// Screen sizes
$screen-sm: 790px;
$screen-md: 992px;
$screen-lg: 1200px;

// Colours
$white: #fff;
$light-blue: #5c9ab9;
$light-grey: #c6c6c6;
$medium-grey: #676767;
$dark-grey: #797876;
$darker-grey: #414141;
$light-black: #2c2c2c;
$red: rgb(255,0,0);
$highlight-colour: #f6f8fa;
