---
---

@import 'normalize';

@import 'variables';
@import 'header';
@import 'sidebar';
@import 'menu';
@import 'tags';
@import 'logo';

@import 'markdown';
@import 'post';
@import 'prism';

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	color: #333;
}

#content {
	float: right;
	padding-bottom: 60px;
}

img {
	width:100%
}

.container {
	padding: 0px 15px;
}

.markdown-body>*:first-child {
	margin-top:0.5em !important;
}

article {
	margin-top: 0px;
	padding-bottom: 20px;
	font-size: 17px;
}

#disqus_thread {
	margin-top: 50px;
}

.home p {
	margin-top:0;
	margin-bottom:16px;
}

.available {
	font-weight: bold;
	color: #0ea611 !important;
}

.unavailable {
	font-weight: bold;
	color: red !important;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@media (min-width: $screen-sm) {
	img[src$="fifty"] {
		max-width:50%;
	}

	img[src$="twentyfive"] {
		max-width:25%;
	}

	img[src$="seventyfive"] {
		max-width:75%;
	}

	.container {
		width: $screen-sm;
		margin: 20px auto;
	}

	#content {
		width: 610px;
	}

	img {
		max-width: 120%;
	}
}
