---
---

@import 'normalize';
@import 'variables';
@import 'header';

@import 'menu';
@import 'layout';
@import 'logo';
@import 'metadata';
@import 'page';

@import 'markdown';
@import 'post';
@import 'prism';

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  color: $lighter-black;
}

a {
  color: $red;
  text-decoration: none;
}

img {
  width: 100%;
}

article {
  margin-top: 0px;
  padding-bottom: 20px;
  font-size: 17px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

embed {
  width: 100% !important;
}

@media (min-width: $screen-sm) {
  img[src$='fifty'] {
    max-width: 50%;
  }

  img[src$='twentyfive'] {
    max-width: 25%;
  }

  img[src$='seventyfive'] {
    max-width: 75%;
  }

  img {
    max-width: 120%;
  }
}
