---
---
$font-stack: 'Droid Serif', serif;
$main-colour: #e34234;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	min-height: 100%;
}

@media (min-width: 38em) {
	html {
		font-size: 20px;
	}
}

body {
	margin: 0 0 118px; /* bottom = footer height */
}
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 88px;
	width: 100%;
}

a {
	-webkit-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
	color: #e34234;
}

h1,h2,h3,h4,h5,h6 {
	letter-spacing: -0.03125em;
	font-family: 'Source Serif Pro', serif;
}

.masthead{
	border-top: 4px solid #d03547;
	background-color: $main-colour;
}

.footer {
	background-color:#e34234;
	color:#D02854;
}

.menu {
	float: left;
}


.menu a {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: block;
	padding: 10px 15px;
	color: #F5F5F5;
	float:left;
	-webkit-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
	text-shadow: 1px 1px 1px rgba(208, 53, 71, 1);
	text-transform:lowercase;
}

.menu a:hover {
	background-color: #d03547;
	color:#ffffff;
}

a:hover {
	-webkit-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
	color: #E42D58;
}

.view-comments {
	float: inherit;
	text-align: center;
	width: 100%;
	display: block;
	padding: 1rem;
	border: 1px solid #eee;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.masthead-title a{
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
	color:#ffffff;
	line-height:46px;
	font-weight: normal;
	letter-spacing: 0.05px;
	text-shadow: 1px 1px 1px rgba(208, 53, 71, 1);
}

.masthead-title {
	float:left;
}

.masthead-title a:hover img {
	margin-top:-3px;
}
.masthead p {
	margin-bottom:0;
	line-height:20px;
}

.masthead small {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: -0.03125em;

	color:#dedede;
}

.footer p {
	color: #3C3335;
	margin-top:2.5rem;
}

footer .masthead-title {
	float:none;
	margin: 20px auto;
	width: 50px;
}

footer .masthead-title a {
	color:#7b7b7b;
}


.logo {
	width:48px;
	float:left;
	margin:0;
	margin-right:15px;
}

@media (min-width: 22em) {

	.menu {
		float: left;
		margin-left: 40px;
	}

	body {
		margin: 0 0 150px; /* bottom = footer height */
	}

}

@media (min-width:564px)
{
	.footer p {
		margin-top:1.8rem;
	}
}