---
---

$main-colour: #CE573B;
$highlight-colour: #CE573B;
$black-colour: #303030;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	min-height: 100%;
}

a {
	color: $highlight-colour;
}

a:hover {
	color: $main-colour;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Source Sans Pro', serif;
}

.nav-collapse, .nav-collapse ul {
	list-style: none;
	width: 100%;
	margin:0;
	padding:0;
}

.nav-collapse li {
	float: left;
	width: 100%;
}

.nav-collapse.closed {
	display:none;
}

.nav-collapse a {
	color: $black-colour;
	text-decoration: none;
	width: 100%;
	font-family: Arial;
	font-size: 1.1rem;
	line-height: 60px;
	padding-left:0.5rem;
	padding-right:0.5rem;
	float: left;
	letter-spacing: 0.75px;
	border-radius: 1px;
	text-transform: lowercase;
	text-align:center;
}

@media screen and (min-width: 40em) {
	.nav-collapse li {
		width:auto;
		padding-left:0.4rem;
		border:none;
	}

	.nav-collapse a {
		margin: 0;
		float: left;
		border-bottom: 0;
		border-radius: 2px;
		text-align:left;
	}

	.nav-toggle {
		display:none;
	}

	.nav-collapse.closed {
		display:block;
	}

	.masthead-title {
		margin-right: 3rem;
	}

	.nav-collapse ul ul a {
		display: none;
	}
}

@media (max-width: 38em) {
	html .masthead a {
		font-size: 1.375rem;
	}
}


.nav-toggle {
	user-select: none;
	text-decoration: none;
	text-indent: -999px;
	position: relative;
	overflow: hidden;
	width: 70px;
	height: 55px;
	float: right;
}

.nav-toggle:before {
	font-family: "Arial", sans-serif;
	text-transform: none;
	position: absolute;
	content: "≡";
	text-indent: 0;
	text-align: center;
	speak: none;
	width: 100%;
	top: 6px;
	left: 0;
	font-size:2em;
	color: $black-colour;
	line-height:45px;
}

.nav-toggle.active::before {
	content:"x";
}



@media (min-width: 38em) {
	html {
		font-size: 20px;
	}
}


.masthead {
	padding-top:0.5em;
}

.masthead .container {
	overflow:hidden;
	border-bottom: 1px solid #eeeeee;
}


/* Meta data line below post title */
.post-date {
	display: block;
	margin-top: -.7rem;
	margin-bottom: 0.7rem;
	font-size: 0.9em;
	color: #9a9a9a;
}

.masthead-title a {
	font-family: Arial;
	text-transform: lowercase;
	color:#C65035;
	line-height: 60px;
	font-size: 1.1rem;
	font-weight:normal;
	letter-spacing: 0.75px;
}

.masthead-title {
	float:left;
}

.logo {
	width:60px;
	float:left;
	margin:0;
	margin-right:20px;
}
