<footer class="footer gradient text-center">
 <p class="credits">
    Hosted on GitHub :)
  </p>

  <a class="github-button" href="https://github.com/samdoidge/samdoidge.github.io" data-icon="octicon-star" data-style="mega" data-count-href="/samdoidge/samdoidge.github.io/stargazers" data-count-api="/repos/samdoidge/samdoidge.github.io#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star samdoidge/samdoidge.github.io on GitHub">Star</a>

  <!-- Place this tag where you want the button to render. -->
  <a class="github-button" href="https://github.com/samdoidge" data-style="mega" data-count-href="/samdoidge/followers" data-count-api="/users/samdoidge#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @samdoidge on GitHub">Follow @samdoidge</a>

  <!-- Place this tag right after the last button or just before your close body tag. -->
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
 
</footer>
  <script src="{{ site.baseurl }}/bower_components/highlightjs/highlight.pack.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>