<footer class="footer text-center">

  <!-- Place this tag where you want the button to render. -->
  <a class="github-button" href="https://github.com/samdoidge" data-style="mega" data-count-href="/samdoidge/followers" data-count-api="/users/samdoidge#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @samdoidge on GitHub">Follow @samdoidge</a>

  <!-- Place this tag right after the last button or just before your close body tag. -->
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
 
</footer>
  <script src="{{ site.baseurl }}/bower_components/highlightjs/highlight.pack.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
