<footer class="footer text-center">
    <!-- Place this tag where you want the button to render. -->
    <!--a class="github-button" href="https://github.com/samdoidge" data-style="mega" data-count-href="/samdoidge/followers" data-count-api="/users/samdoidge#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @samdoidge on GitHub">Follow @samdoidge</a-->

    <!-- Place this tag right after the last button or just before your close body tag. -->
    <!--script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script-->
    <!--a href="http://www.blogadda.com" title="Visit blogadda.com to discover Indian blogs"> <img src="http://www.blogadda.com/images/blogadda.png" width="80" height="15" border="0" style="width:80px;height:15px;margin-left:auto;margin-right:auto;" alt="Visit blogadda.com to discover Indian blogs" /></a-->
</footer>

<script src="{{ site.baseurl }}/assets/js/prism.js"></script>