<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% if page.title == "Home" %}
        <title>Sam Doidge - Continual improvement.</title>
        {% else %}
        <title>{{ page.title }} - {{ site.title }}</title>
        {% endif %}

        {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
        {% else %}
        <meta name="description" content="{{ page.content | truncatewords:47 | strip_html }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.ico?v1" type="image/x-icon">
        <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon-32x32.png?v1" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon-96x96.png?v1" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon-16x16.png?v1" sizes="16x16">
        <link rel="apple-touch-icon" href="/img/logo.png">
        <!-- Place favicon.ico in the root directory -->

        <link href="{{ "/assets/css/normalize.css" | prepend: site.baseurl }}" rel="stylesheet">
        <link href="{{ "/assets/css/prism.css" | prepend: site.baseurl }}" rel="stylesheet">
        <link href="{{ "/assets/css/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet">
    </head>