<head>
    <meta charset="utf-8">
    <title>Sam Doidge &mdash; Web developer. Positive. Continual improvement.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Let's not impose limits on ourselves.">

    <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.ico?v1" type="image/x-icon">

    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon-32x32.png?v1" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon-96x96.png?v1" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon-16x16.png?v1" sizes="16x16">

    <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/primer-css/css/primer.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/highlightjs/styles/github.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css?v2">
</head>