@import 'variables.scss';

#header {
	max-width: $max-width;
    margin: 20px auto;
}

#logo {
    float: left;
    margin-right: 20px;
}

#logo img {
    width: 48px;
    height: 48px;
}

.header-text {
    margin-top: 0px;
    float: left;
}

@media (min-width: $screen-sm) { 
    #header {
        margin-top: 60px;
    }

    #logo {
        margin-right: 65px;
    }

    #logo img {
        width: 100%;
        height: 100%;
    }

    .header-text {
        margin-top: 20px;
    }
}




header h1 {
	margin: 0;
	text-decoration: none;
    font-size: 26px;
    color: #2C2C2C;
    font-weight: bold;
    overflow: hidden;
    letter-spacing: 0.04em;
    margin-bottom:0.1em;
}

header h1 a {
    text-decoration: none;
    font-size: 26px;
    color: #2C2C2C;
    font-weight: bold;
    overflow: hidden;
    letter-spacing: 0.04em;
}

header .description {
    letter-spacing: 0.06em;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-margin-before: 0;
}