---
---

@import 'normalize.scss';

@import 'variables.scss';
@import 'header.scss';
@import 'sidebar.scss';

@import 'markdown.scss';
@import 'post.scss';
@import 'prism.scss';

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	color: #333;
}

#content {
	float: right;
	padding-bottom: 60px;
}

img {
	width:100%
}

.container {
	padding: 0px 15px;
}

.markdown-body>*:first-child {
	margin-top:0.5em !important;
}

article {
	margin-top: 0px;
	padding-bottom: 20px;
	font-size: 17px;
}

.home p {
	margin-top:0;
	margin-bottom:16px;
}

.available {
	font-weight: bold;
	color: #0ea611 !important;
}

.available img {
	margin-bottom: -3px;
}

@media (min-width: $screen-sm) {
	img[src$="fifty"] {
		max-width:50%;
	}

	img[src$="twentyfive"] {
		max-width:25%;
	}

	img[src$="seventyfive"] {
		max-width:75%;
	}

	.container {
		width: $max-width;
		margin: 20px auto;
	}

	#content {
		width: 610px;
	}

	img {
		max-width: 120%;
	}
}
